*{
    margin: 0;
    padding: 0;
}
:root {
  --primary-color: blue;
  --button-bg: black;
  --button-text: white;
}

#title {
  color: var(--primary-color);
}

#btn {
  padding: 10px;
  background: var(--button-bg);
  color: var(--button-text);
}
